body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background: linear-gradient(-45deg, #8a6053, #5e3343, #1d6079, #1b5d94); */
  /* background: linear-gradient(-45deg, #656775, #595c70, #7c6f6f, #566370);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite; */
  /* height: 100vh; */
  /* scroll-behavior: smooth; */
  /* height: 100%; */
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  padding: 0;
}
